.form-bottom_phone
{
  display: none;
}

.form-bottom 
{
  font-family: poppins-regular;
  line-height: 1.5;
  color: #95989a;
  text-align: center; 
  cursor:pointer;
}
.form-bottom__inscription-button
{
  text-decoration: none;  
  color: #1cc3ea;
  cursor:pointer;
}
.form-bottom_size
{
  font-size: 0.875rem;    
}

/* phone */
  @media(max-width: 640px)
  {
    .form-bottom
    {
      display: none;
    }
    .form-bottom_phone
    {
      display: block;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: var(--white);
      margin-top: 1rem;
    }
  }