.login__form-container
{
  width: 25rem;
  margin: auto;
  display: relative;
  top:50%;
  transform: perspective(1px) translateY(50%);
}
.authentification
{
    height: 100%;;
}

.login__form-container__2 {
  padding: 1rem;
}
.login__form-container__2_background {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.82);
}
.form__input_margin {
  margin-bottom:1rem;
}
.login__form-container__2_align_center {
  text-align: center;
}

.form_align_right {
  text-align: right;
}

.form_align_left {
  text-align: left;
}
.form_forgot-password {
  font-size: 0.625rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #95989a;
  display: inline-block;
  margin-bottom: var(--space-between-block);
  cursor:pointer;
}


/* phone */
  @media(max-width: 640px)
  {
  	 .login__form-container {
      width: 21rem;
      margin: auto;
      display: relative;
      top:50%;
      transform: perspective(1px) translateY(50%);
    }
    .form_forgot-password,.form__requirement {
      display: none;
    }
    .submit {
      margin-top:  1rem;
    }
    .login__form-container__2_background {
      border-radius: 0 0 2px 2px;
      background-color: rgba(255, 255, 255, 1);
    }
   }