/* desktop */
  .footer_background
  {
  	background: white;
  }

  .footer 
  {
  	position: fixed;
  	bottom:0;
    left: 0;
    width: 100%;
    font-size: 0.75rem;
  	text-align: right;
  }
  .footer_size 
  {
    height: 3rem;
    line-height: 3rem;
    background-color: #ffffff;
  }
  .footer__item
  {
  	text-decoration: none;
  	color:black;
  	margin-left:2rem;
  }
  .footer__item_button
  {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    border-radius: 2px;
    background-color: white;
    border: solid 1px #000000;
    margin-right: 10rem;
    padding: 2px 2px 1px 2px;
    }
/* desktop */

/* laptop and small desktop*/
    @media(max-width: 1000px)
    {
      .footer__item_button
      {
        margin-right: 1rem;
      }
      .footer__item
      {
        margin-left: 0.5rem;
      }
      .footer
      {
          text-align:center;
      }
    }
/* laptop and small desktop*/  
/* phone */  
  @media(max-width: 640px)
  {
    .footer
    {
      display: none;
    }
  }
/* phone */  